@import "partials/reset";
@import "partials/grid";
@import "partials/mixins_and_variables";

@font-face {
  font-family: 'GibsonRegular';
  src: url('../fonts/gibson-regular-webfont.eot');
  src: url('../fonts/gibson-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/gibson-regular-webfont.woff') format('woff'),
       url('../fonts/gibson-regular-webfont.ttf') format('truetype'),
       url('../fonts/gibson-regular-webfont.svg#../fonts/gibsonregular') format('svg');
}
@font-face {
  font-family: 'GibsonSemiBold';
  src: url('../fonts/gibson-semibold-webfont.eot');
  src: url('../fonts/gibson-semibold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/gibson-semibold-webfont.woff') format('woff'),
       url('../fonts/gibson-semibold-webfont.ttf') format('truetype'),
       url('../fonts/gibson-semibold-webfont.svg#gibson_lightbold') format('svg');
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
}
html {
  font-size: $base-font-size;
}
body {
  font-size: 160%; 
}
body {
  background: white;
  color: #222222;
  padding: 0;
  margin: 0;
  @include gibson-regular;
  line-height: 1;
  position: relative;
  cursor: default; 
}
a:hover {
  cursor: pointer; 
}
img,
object,
embed {
  max-width: 100%;
  height: auto; 
}
object,
embed {
  height: 100%; 
}

img {
  -ms-interpolation-mode: bicubic; 
}
.clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  } 
}
.hide {
  display: none; 
}
.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}
img {
  display: inline-block;
  vertical-align: middle; 
}
textarea {
  height: auto;
  min-height: 50px; 
}
select {
  width: 100%; 
}
h1, h2, h3, h4 {
  @extend %header;
  font-size: 48px;
  line-height: 54px;
  margin-bottom: 30px;
  @include gibson-semibold;
}
h2 {
  font-size: 18px;
  line-height: 1;
  margin: 0;
}
.intro-sentence {
  @include rem(font-size, 24px);
  @include rem(line-height, 30px);
  margin-bottom: 54px;
}

header {
  background: $blue;
  @include rem(padding, 30px 0);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  @include gibson-semibold;
  h1 {
    @include rem(font-size, 16px);
    text-transform: uppercase;
    float: left;
    line-height: 1;
    margin: 0;
  }
  ul {
    float: left;
    li {
      display: block;
      float: left;
      @include rem(margin-left, 20px)
    }
  }
  a {
    color: #fff;
    text-decoration: none;
    border-bottom: 2px solid #fff;
    @include rem(padding-bottom, 3px);
    &.register {
      float: right;
    }
    &:hover {
      color: $dark-blue;
      border-color: $dark-blue;
    }
  }
}

.hero {
  background: $blue;
  text-align: center;
  position: relative;
  color: #fff;
  padding-top: 162px;
  padding-bottom: 468px;
  @extend .clearfix;
  .city-scape {
    position: absolute;
    bottom: 0;
    left: -20px;
    opacity: 0;
    width: 100%;
    height: 363px;
    background: url('../img/chi_city.png') 0 0 repeat-x red;
  }
  .gem {
    margin-bottom: 30px;
  }
  h1, h2 {
    line-height: 32px;
  }
  h1 {
    margin-bottom: 30px;
  }
  h2 {
    color: $dark-blue;
    text-transform: uppercase;
    @include rem(font-size, 20px);
    margin-bottom: 36px;
    letter-spacing: 0.09em;
  }
  h1, h2, p, img {
    opacity: 0;
  }
}

section {
  margin-bottom: 60px;
  @extend .clearfix;
  h1, .intro-sentence {
    text-align: center;
  }
  &.speakers .row {
    margin-bottom: 18px;
  }
}

//Speakers
.speaker-box {
  width: 241px;
  float: left;
  margin-left: 5px;
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    float: right;
  }
  .speaker-info {
    background: $blue;
    padding: 12px 18px;
    color: #fff;
    h1 {
      font-size: 18px;
      line-height: 30px;
      margin: 0;
      text-align: left;
    }
  }
}

#venue {
  position: relative;
  text-align: center;
  background: url(../img/venue.jpg) 0 0 no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 60px 0;
  #radison-blu {
    position: relative;
    display: block;
    top: 50%;
    margin-top: -60px;
    left: 50%;
    margin-left: -199px;
    margin-bottom: 348px;
  }
  h1 {
    margin-bottom: 348px;
    color: #fff;
  }
  h2 {
    color: #fff;
  }
}

#workshops {
  .workshop {
    img {
      margin-bottom: 24px;
    }
    h2 {
      text-align: center;
      font-size: 24px;
      margin-bottom: 24px;
    }
    p {
      font-family: $sans-serif;
      font-size: 13px;
      line-height: 24px;
    }
  }
}

.page-load-fade-in {
  .city-scape {
    -webkit-transition: opacity 1s ease-out 0.5s, left 1s ease-out 0.5s;
    opacity: 1;
    left: 0;
  }
  .hero {
    h1, h2, p, img {
      -webkit-transition: opacity 1s ease-out;
      opacity: 1;
      left: 0;
    }
  }
} 
