html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5em;
  *zoom: 1; }

.row:before, .row:after {
  content: " ";
  display: table; }

.row:after {
  clear: both; }

.row.collapse > .column,
.row.collapse > .columns {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  float: left; }

.row.collapse .row {
  margin-left: 0;
  margin-right: 0; }

.row .row {
  width: auto;
  margin-left: -0.625em;
  margin-right: -0.625em;
  margin-top: 0;
  margin-bottom: 0;
  max-width: none;
  *zoom: 1; }

.row .row:before, .row .row:after {
  content: " ";
  display: table; }

.row .row:after {
  clear: both; }

.row .row.collapse {
  width: auto;
  margin: 0;
  max-width: none;
  *zoom: 1; }

.row .row.collapse:before, .row .row.collapse:after {
  content: " ";
  display: table; }

.row .row.collapse:after {
  clear: both; }

.column,
.columns {
  position: relative;
  padding-left: 0.625em;
  padding-right: 0.625em;
  width: 100%;
  float: left; }

@media only screen {
  .column.small-centered,
  .columns.small-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .column.small-uncentered,
  .columns.small-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left; }

  .column.small-uncentered.opposite,
  .columns.small-uncentered.opposite {
    float: right; }

  .small-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }

  .small-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }

  .small-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

  .small-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

  .small-push-3 {
    position: relative;
    left: 25%;
    right: auto; }

  .small-pull-3 {
    position: relative;
    right: 25%;
    left: auto; }

  .small-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

  .small-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

  .small-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

  .small-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

  .small-push-6 {
    position: relative;
    left: 50%;
    right: auto; }

  .small-pull-6 {
    position: relative;
    right: 50%;
    left: auto; }

  .small-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

  .small-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

  .small-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

  .small-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

  .small-push-9 {
    position: relative;
    left: 75%;
    right: auto; }

  .small-pull-9 {
    position: relative;
    right: 75%;
    left: auto; }

  .small-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

  .small-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

  .small-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }

  .small-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; }

  .column,
  .columns {
    position: relative;
    padding-left: 0.625em;
    padding-right: 0.625em;
    float: left; }

  .small-1 {
    position: relative;
    width: 8.33333%; }

  .small-2 {
    position: relative;
    width: 16.66667%; }

  .small-3 {
    position: relative;
    width: 25%; }

  .small-4 {
    position: relative;
    width: 33.33333%; }

  .small-5 {
    position: relative;
    width: 41.66667%; }

  .small-6 {
    position: relative;
    width: 50%; }

  .small-7 {
    position: relative;
    width: 58.33333%; }

  .small-8 {
    position: relative;
    width: 66.66667%; }

  .small-9 {
    position: relative;
    width: 75%; }

  .small-10 {
    position: relative;
    width: 83.33333%; }

  .small-11 {
    position: relative;
    width: 91.66667%; }

  .small-12 {
    position: relative;
    width: 100%; }

  [class*="column"] + [class*="column"]:last-child {
    float: right; }

  [class*="column"] + [class*="column"].end {
    float: left; }

  .small-offset-0 {
    position: relative;
    margin-left: 0% !important; }

  .small-offset-1 {
    position: relative;
    margin-left: 8.33333% !important; }

  .small-offset-2 {
    position: relative;
    margin-left: 16.66667% !important; }

  .small-offset-3 {
    position: relative;
    margin-left: 25% !important; }

  .small-offset-4 {
    position: relative;
    margin-left: 33.33333% !important; }

  .small-offset-5 {
    position: relative;
    margin-left: 41.66667% !important; }

  .small-offset-6 {
    position: relative;
    margin-left: 50% !important; }

  .small-offset-7 {
    position: relative;
    margin-left: 58.33333% !important; }

  .small-offset-8 {
    position: relative;
    margin-left: 66.66667% !important; }

  .small-offset-9 {
    position: relative;
    margin-left: 75% !important; }

  .small-offset-10 {
    position: relative;
    margin-left: 83.33333% !important; }

  .column.small-reset-order,
  .columns.small-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left; } }
@media only screen and (min-width: 40.063em) {
  .column.medium-centered,
  .columns.medium-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .column.medium-uncentered,
  .columns.medium-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left; }

  .column.medium-uncentered.opposite,
  .columns.medium-uncentered.opposite {
    float: right; }

  .medium-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }

  .medium-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }

  .medium-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

  .medium-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

  .medium-push-3 {
    position: relative;
    left: 25%;
    right: auto; }

  .medium-pull-3 {
    position: relative;
    right: 25%;
    left: auto; }

  .medium-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

  .medium-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

  .medium-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

  .medium-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

  .medium-push-6 {
    position: relative;
    left: 50%;
    right: auto; }

  .medium-pull-6 {
    position: relative;
    right: 50%;
    left: auto; }

  .medium-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

  .medium-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

  .medium-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

  .medium-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

  .medium-push-9 {
    position: relative;
    left: 75%;
    right: auto; }

  .medium-pull-9 {
    position: relative;
    right: 75%;
    left: auto; }

  .medium-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

  .medium-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

  .medium-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }

  .medium-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; }

  .column,
  .columns {
    position: relative;
    padding-left: 0.625em;
    padding-right: 0.625em;
    float: left; }

  .medium-1 {
    position: relative;
    width: 8.33333%; }

  .medium-2 {
    position: relative;
    width: 16.66667%; }

  .medium-3 {
    position: relative;
    width: 25%; }

  .medium-4 {
    position: relative;
    width: 33.33333%; }

  .medium-5 {
    position: relative;
    width: 41.66667%; }

  .medium-6 {
    position: relative;
    width: 50%; }

  .medium-7 {
    position: relative;
    width: 58.33333%; }

  .medium-8 {
    position: relative;
    width: 66.66667%; }

  .medium-9 {
    position: relative;
    width: 75%; }

  .medium-10 {
    position: relative;
    width: 83.33333%; }

  .medium-11 {
    position: relative;
    width: 91.66667%; }

  .medium-12 {
    position: relative;
    width: 100%; }

  [class*="column"] + [class*="column"]:last-child {
    float: right; }

  [class*="column"] + [class*="column"].end {
    float: left; }

  .medium-offset-0 {
    position: relative;
    margin-left: 0% !important; }

  .medium-offset-1 {
    position: relative;
    margin-left: 8.33333% !important; }

  .medium-offset-2 {
    position: relative;
    margin-left: 16.66667% !important; }

  .medium-offset-3 {
    position: relative;
    margin-left: 25% !important; }

  .medium-offset-4 {
    position: relative;
    margin-left: 33.33333% !important; }

  .medium-offset-5 {
    position: relative;
    margin-left: 41.66667% !important; }

  .medium-offset-6 {
    position: relative;
    margin-left: 50% !important; }

  .medium-offset-7 {
    position: relative;
    margin-left: 58.33333% !important; }

  .medium-offset-8 {
    position: relative;
    margin-left: 66.66667% !important; }

  .medium-offset-9 {
    position: relative;
    margin-left: 75% !important; }

  .medium-offset-10 {
    position: relative;
    margin-left: 83.33333% !important; }

  .column.medium-reset-order,
  .columns.medium-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left; }

  .push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }

  .pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }

  .push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

  .pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

  .push-3 {
    position: relative;
    left: 25%;
    right: auto; }

  .pull-3 {
    position: relative;
    right: 25%;
    left: auto; }

  .push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

  .pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

  .push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

  .pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

  .push-6 {
    position: relative;
    left: 50%;
    right: auto; }

  .pull-6 {
    position: relative;
    right: 50%;
    left: auto; }

  .push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

  .pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

  .push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

  .pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

  .push-9 {
    position: relative;
    left: 75%;
    right: auto; }

  .pull-9 {
    position: relative;
    right: 75%;
    left: auto; }

  .push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

  .pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

  .push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }

  .pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; } }
@media only screen and (min-width: 64.063em) {
  .column.large-centered,
  .columns.large-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .column.large-uncentered,
  .columns.large-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left; }

  .column.large-uncentered.opposite,
  .columns.large-uncentered.opposite {
    float: right; }

  .large-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }

  .large-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }

  .large-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

  .large-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

  .large-push-3 {
    position: relative;
    left: 25%;
    right: auto; }

  .large-pull-3 {
    position: relative;
    right: 25%;
    left: auto; }

  .large-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

  .large-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

  .large-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

  .large-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

  .large-push-6 {
    position: relative;
    left: 50%;
    right: auto; }

  .large-pull-6 {
    position: relative;
    right: 50%;
    left: auto; }

  .large-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

  .large-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

  .large-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

  .large-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

  .large-push-9 {
    position: relative;
    left: 75%;
    right: auto; }

  .large-pull-9 {
    position: relative;
    right: 75%;
    left: auto; }

  .large-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

  .large-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

  .large-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }

  .large-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; }

  .column,
  .columns {
    position: relative;
    padding-left: 0.625em;
    padding-right: 0.625em;
    float: left; }

  .large-1 {
    position: relative;
    width: 8.33333%; }

  .large-2 {
    position: relative;
    width: 16.66667%; }

  .large-3 {
    position: relative;
    width: 25%; }

  .large-4 {
    position: relative;
    width: 33.33333%; }

  .large-5 {
    position: relative;
    width: 41.66667%; }

  .large-6 {
    position: relative;
    width: 50%; }

  .large-7 {
    position: relative;
    width: 58.33333%; }

  .large-8 {
    position: relative;
    width: 66.66667%; }

  .large-9 {
    position: relative;
    width: 75%; }

  .large-10 {
    position: relative;
    width: 83.33333%; }

  .large-11 {
    position: relative;
    width: 91.66667%; }

  .large-12 {
    position: relative;
    width: 100%; }

  [class*="column"] + [class*="column"]:last-child {
    float: right; }

  [class*="column"] + [class*="column"].end {
    float: left; }

  .large-offset-0 {
    position: relative;
    margin-left: 0% !important; }

  .large-offset-1 {
    position: relative;
    margin-left: 8.33333% !important; }

  .large-offset-2 {
    position: relative;
    margin-left: 16.66667% !important; }

  .large-offset-3 {
    position: relative;
    margin-left: 25% !important; }

  .large-offset-4 {
    position: relative;
    margin-left: 33.33333% !important; }

  .large-offset-5 {
    position: relative;
    margin-left: 41.66667% !important; }

  .large-offset-6 {
    position: relative;
    margin-left: 50% !important; }

  .large-offset-7 {
    position: relative;
    margin-left: 58.33333% !important; }

  .large-offset-8 {
    position: relative;
    margin-left: 66.66667% !important; }

  .large-offset-9 {
    position: relative;
    margin-left: 75% !important; }

  .large-offset-10 {
    position: relative;
    margin-left: 83.33333% !important; }

  .column.large-reset-order,
  .columns.large-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left; }

  .push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }

  .pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }

  .push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

  .pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

  .push-3 {
    position: relative;
    left: 25%;
    right: auto; }

  .pull-3 {
    position: relative;
    right: 25%;
    left: auto; }

  .push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

  .pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

  .push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

  .pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

  .push-6 {
    position: relative;
    left: 50%;
    right: auto; }

  .pull-6 {
    position: relative;
    right: 50%;
    left: auto; }

  .push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

  .pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

  .push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

  .pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

  .push-9 {
    position: relative;
    left: 75%;
    right: auto; }

  .pull-9 {
    position: relative;
    right: 75%;
    left: auto; }

  .push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

  .pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

  .push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }

  .pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; } }
/*--------------------------------------------------
* TYPOGRAPHY
*--------------------------------------------------*/
@font-face {
  font-family: 'GibsonRegular';
  src: url("../fonts/gibson-regular-webfont.eot");
  src: url("../fonts/gibson-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gibson-regular-webfont.woff") format("woff"), url("../fonts/gibson-regular-webfont.ttf") format("truetype"), url("../fonts/gibson-regular-webfont.svg#../fonts/gibsonregular") format("svg"); }

@font-face {
  font-family: 'GibsonSemiBold';
  src: url("../fonts/gibson-semibold-webfont.eot");
  src: url("../fonts/gibson-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gibson-semibold-webfont.woff") format("woff"), url("../fonts/gibson-semibold-webfont.ttf") format("truetype"), url("../fonts/gibson-semibold-webfont.svg#gibson_lightbold") format("svg"); }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  font-size: 160%; }

body {
  background: white;
  color: #222222;
  padding: 0;
  margin: 0;
  font-family: "GibsonRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 1;
  position: relative;
  cursor: default; }

a:hover {
  cursor: pointer; }

img,
object,
embed {
  max-width: 100%;
  height: auto; }

object,
embed {
  height: 100%; }

img {
  -ms-interpolation-mode: bicubic; }

.clearfix, .hero, section {
  *zoom: 1; }
  .clearfix:before, .hero:before, section:before, .clearfix:after, .hero:after, section:after {
    content: " ";
    display: table; }
  .clearfix:after, .hero:after, section:after {
    clear: both; }

.hide {
  display: none; }

.antialiased, body, h1, h2, h3, h4, header {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

img {
  display: inline-block;
  vertical-align: middle; }

textarea {
  height: auto;
  min-height: 50px; }

select {
  width: 100%; }

h1, h2, h3, h4 {
  font-size: 48px;
  line-height: 54px;
  margin-bottom: 30px;
  font-family: "GibsonSemiBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal; }

h2 {
  font-size: 18px;
  line-height: 1;
  margin: 0; }

.intro-sentence {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 30px;
  line-height: 3rem;
  margin-bottom: 54px; }

header {
  background: #0a7abd;
  padding: 30px 0;
  padding: 3rem 0;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  font-family: "GibsonSemiBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal; }
  header h1 {
    font-size: 16px;
    font-size: 1.6rem;
    text-transform: uppercase;
    float: left;
    line-height: 1;
    margin: 0; }
  header a {
    color: #fff; }

nav ul {
  float: left; }
  nav ul li {
    display: block;
    float: left;
    margin-left: 20px;
    margin-left: 2rem; }
nav a {
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid #fff;
  padding-bottom: 3px;
  padding-bottom: 0.3rem; }
  nav a.register {
    float: right; }
  nav a:hover {
    color: #2f4e70;
    border-color: #2f4e70; }

.hero {
  background: #0a7abd;
  text-align: center;
  position: relative;
  color: #fff;
  padding-top: 162px;
  padding-bottom: 468px;
  opacity: 1;
  -webkit-transition: 0.4s opacity ease-out;
  -moz-transition: 0.4s opacity ease-out;
  transition: 0.4s opacity ease-out; }
  @media screen and (min-width: 1400px) {
    .hero {
      padding-bottom: 252px; } }
  .hero .city-scape {
    position: absolute;
    bottom: 0;
    left: -50px;
    opacity: 0;
    width: 100%;
    height: 363px;
    background: url("../img/chi_city.png") 0 0 repeat-x red; }
  .hero .gem {
    margin-bottom: 30px; }
  .hero h1, .hero h2 {
    line-height: 32px; }
  .hero h1 {
    margin-bottom: 30px; }
  .hero h2 {
    color: #2f4e70;
    text-transform: uppercase;
    font-size: 20px;
    font-size: 2rem;
    margin-bottom: 36px;
    letter-spacing: 0.09em; }
  .hero h1, .hero h2, .hero p, .hero img {
    opacity: 0; }
  .hero .intro-sentence {
    position: relative;
    z-index: 1; }

section {
  margin-bottom: 60px; }
  section h1, section .intro-sentence {
    text-align: center; }

#speakers .speaker-box {
  width: 245px;
  float: left;
  padding: 0 5px;
  margin-bottom: 18px; }
  #speakers .speaker-box:last-child {
    float: right; }
  #speakers .speaker-box .speaker-info {
    background: #0a7abd;
    padding: 12px 18px;
    color: #fff; }
    #speakers .speaker-box .speaker-info h1 {
      font-size: 18px;
      line-height: 30px;
      margin: 0;
      text-align: left; }
#speakers.dont-float-last .speaker-box:last-child {
  float: left; }

#venue {
  position: relative;
  text-align: center;
  background: url(../img/venue.jpg) 0 0 no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 60px 0; }
  #venue #radison-blu {
    position: relative;
    display: block;
    top: 50%;
    margin-top: -60px;
    left: 50%;
    margin-left: -199px;
    margin-bottom: 348px; }
  #venue h1 {
    margin-bottom: 348px;
    color: #fff; }
  #venue h2 {
    color: #fff; }

#workshops .workshop {
  margin-bottom: 18px; }
  #workshops .workshop img {
    margin-bottom: 24px; }
  #workshops .workshop h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 24px; }
  #workshops .workshop p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 24px; }
#workshops.dont-float-last .workshop:last-child {
  float: left; }

.page-load-fade-in .city-scape {
  -webkit-transition: opacity 1s ease-out 0.5s, left 1.5s ease-out;
  opacity: 1;
  left: 0; }
.page-load-fade-in .hero h1, .page-load-fade-in .hero h2, .page-load-fade-in .hero p, .page-load-fade-in .hero img {
  -webkit-transition: opacity 1s ease-out;
  opacity: 1;
  left: 0; }
